flask
flask-login
flask-sqlalchemy
python-dotenv
gunicorn
psycopg2-binary
werkzeug
anthropic
weasyprint
Flask-Mail
twilio
tzdata
boto3>=1.36.0
botocore>=1.36.0
dropbox
flask-socketio
gevent
gevent-websocket
